# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nickolay\Desktop\Учеба\4курс\11 трим\компиляторы\CompilerReplica\.idea/dataSources/
/dataSources.local.xml
